@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}
.container{
    width:100%;
    max-width: 1200px;
}

/* navbar style section start */

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link {
    font-weight: 500;
}
.social-icons a {
    color: #333;
    margin-left: 15px;
    font-size: 1.1rem;
    text-decoration: none;
}
.website-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-right: 15px;
}
.website-link:hover {
    color: #007bff;
    text-decoration: none;
}

.nav-item .nav-link{
    font-size: 15px;
    font-weight: 700;
    color: #472a1c;
}
.phone-number .website-link{
    color: #472a1c;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #472a1c;
    padding: 5px 10px;
    border-radius: 35px;
}
/* navbar style section end */

/* hero section style start */

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/image/rectangle_2_copy.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}
.contact-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    
}
.form-control-custom {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 12px 15px;;
    width: 100%;
    background-color: #f1f1f1
}
.form-control-custom:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}
.btn-submit {
    background-color: #ae612e;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 0;
    font-weight: bold;
    width: 100%;
    border-radius: 24px;
}

.contact-form h3{
    color: #472a1c;
    
}
.underline {
    
    height: 1px; 
    width: 100%;
    background-color: #472a1c; 
}

/* hero section style end */