@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}
.container{
    width:100%;
    max-width: 1200px;
}

/* navbar style section start */

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link {
    font-weight: 500;
}
.social-icons a {
    color: #333;
    margin-left: 15px;
    font-size: 1.1rem;
    text-decoration: none;
}
.website-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-right: 15px;
}
.website-link:hover {
    color: #007bff;
    text-decoration: none;
}

.nav-item .nav-link{
    font-size: 15px;
    font-weight: 700;
    color: #472a1c;
}
.phone-number .website-link{
    color: #472a1c;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #472a1c;
    padding: 5px 10px;
    border-radius: 35px;
}
/* navbar style section end */

/* hero section style start */


/* hero section style end */